@import url("reset.css");

:root {
  --cor-tabela: #ca99e1;
  --cor-cabeçalho-tabela: #994dbb;
}

h1 {
  position: relative;
  top: 130px;
  left: 150px;
  font-size: 45px;
  font-weight: bold;
  background: linear-gradient(#6a10be, #a224e2);
  -webkit-background-clip: text;
  color: transparent;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  min-height: 100vh;
}

.tabela {
  border-collapse: collapse;
  width: 80%;
  position: fixed;
  top: 10em;
  left: 7.5em;
}

.row-head {
  background-color: var(--cor-cabeçalho-tabela);
}

.row-body:nth-child(even) {
  background-color: var(--cor-tabela);
}

.row-head,
td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}
