<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de patrocinadores - Adicionar</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="alert-box">
            <div class="content-top">
                <h1 class="titulo-add-patrocinador">Adicionar Patrocinador</h1>
            <button class="botao-fechar">
                <svg class="icone-fechar" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M20 20L4 4m16 0L4 20"/></svg>
            </button>
            </div>

            <div class="content-middle">

                <form action="" class="form-adiciona-patrocinador">

                    <div class="div-info-patrocinador">
                            <input type="text" placeholder="Rede Social">
                            <input type="text" placeholder="Nome do patrocinador">

                    </div>
                    <div class="div-info-patrocinio">
                        <input type="date" placeholder="Data de vencimento">
                        <div class="logo-upload">
                            <label for="logo">Logotipo do patrocinador</label>
                            <input type="file" id="logo" name="logo" accept="image*/" required>
                        </div>
                    </div>  

                </form>

            </div>
            
        </div>
    </div>
</body>
</html>


