<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assests/css/geral/sobre_nos.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=favorite" />
</head>

<body>
    <header class="headerMenu">
        <div></div>
    </header>
    <div class="firstSession">
        <div class="sobreNosText">
            <h1>Sobre Nós:</h1>
            <p>Desenvolvemos uma plataforma para ajudar no gerenciamento de ONGs, trazendo grandes benefícios para o
                curso Técnico em Desenvolvimento de Sistemas e para a sociedade. <br><br> Nossa ferramenta facilita o alcance
                para angariação de doações, voluntários, comunicação de projetos e atividades diárias das ONGs. Assim,
                suas operações ficam mais eficientes e seu impacto social é potencializado. <br><br> Com nosso sistema, as ONGs
                ganham mais eficiência e transparência, permitindo que ampliem seu alcance e eficácia em suas causas.
            </p>
        </div>
        <img class="sobreNosImg" src="../assests/images/geral/view-hands-purple-paint-women-s-day-celebration.jpg"
            alt="img">
    </div>

</body>

</html>