<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assests/css/geral/sobre_nos.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=favorite" />
</head>

<body>
    <header class="headerMenu">
        <div></div>
    </header>
    <div class="firstSession">
        <div class="sobreNosText">
            <div class="sobreNosInt">
                <h1>Sobre Nós:</h1>
                <p>Desenvolvemos uma plataforma para ajudar no gerenciamento de ONGs, trazendo grandes benefícios para o
                    curso Técnico em Desenvolvimento de Sistemas e para a sociedade. <br><br> Nossa ferramenta facilita o alcance
                    para angariação de doações, voluntários, comunicação de projetos e atividades diárias das ONGs. Assim,
                    suas operações ficam mais eficientes e seu impacto social é potencializado. <br><br> Com nosso sistema, as ONGs
                    ganham mais eficiência e transparência, permitindo que ampliem seu alcance e eficácia em suas causas.
                </p>
                <hr>
            </div>
        </div>
        <img class="sobreNosImg" src="../assests/images/geral/view-hands-purple-paint-women-s-day-celebration.jpg"
            alt="img">
    </div>
    <div class="secondSession">
        <div class="cardsContainer">
            <div class="cardsIcon">
                <img src="../assests/images/geral/icons8-europa-50.png" alt="img">
                <h2>Introdução ao Projeto</h2>
                <p>Bem-vindo ao nosso site, um espaço dedicado a conectar e promover ONGs de todo o país! Nossa missão é criar uma plataforma colaborativa que ajude organizações não governamentais a compartilhar seus projetos, ampliar sua visibilidade e alcançar mais pessoas e parceiros que possam apoiar suas causas.</p>
            </div>
            <div class="cardsIcon">
                <img src="../assests/images/geral/icons8-missão-de-uma-empresa-80.png" alt="img">
                <h2>Nossa Missão</h2>
                <p>Acreditamos no poder da união e na força das iniciativas sociais. Nosso objetivo é reunir as melhores práticas e ações de ONGs de diversos setores, dando visibilidade a seus projetos e tornando mais fácil para voluntários, doadores e parceiros se envolverem com as causas que mais importam para eles. Juntos, podemos fazer a diferença.</p>
            </div>
            <div class="cardsIcon">
                <img src="../assests/images/geral/icons8-cuidado-do-diamante-50.png" alt="img">
                <h2>Nossos Valores</h2>
                <p><strong>Transparência:</strong> Acreditamos na importância da honestidade e clareza nas informações, tanto sobre as ONGs quanto seus projetos.</p>
                <p><strong>Colaboração:</strong> Fomentamos a parceria entre organizações, voluntários, doadores e qualquer pessoa interessada em causar um impacto positivo.</p>
                <p><strong>Acessibilidade:</strong> Queremos que todos, independentemente de sua localização ou condição, possam acessar e contribuir com iniciativas sociais.</p>            </div>
            </div>
        <div class="cardsContainer">
            <div class="cardsIcon">
                <img src="../assests/images/geral/icons8-histórico-de-atividades-50.png" alt="img">
                <h2>História do Projeto</h2>
                <p>Nosso site foi idealizado com o objetivo de criar um ponto de encontro virtual para ONGs que buscam ampliar seu impacto. Ao longo do tempo, trabalhamos para conectar as organizações com as pessoas certas, oferecendo uma plataforma simples, eficiente e de fácil acesso.</p>
            </div>
            <div class="cardsIcon">
                <img src="../assests/images/geral/icons8-estrela-48.png" alt="img">
                <h2>O Que Nos Difere</h2>
                <p>Diferente de outras plataformas, nosso site é exclusivo para ONGs, com um foco dedicado em seus desafios e necessidades. Além disso, priorizamos a autenticidade, a diversidade de causas e a inclusão, criando uma comunidade diversa e rica em soluções criativas para os problemas sociais.</p>

            </div>
            <div class="cardsIcon">
                <img src="../assests/images/geral/icons8-friendly-handshake-78.png" alt="img">
                <h2>Junte-se a Nós</h2>
                <p>Queremos fazer parte da transformação social. Se você é uma ONG, um voluntário ou um doador, convidamos você a se conectar conosco e fazer parte dessa rede de apoio. Explore os projetos disponíveis, participe de ações ou ajude a divulgar a causa que mais lhe toca.</p>            </div>
        </div>
    </div>
    <div class="thirdSession">
        <div class="slider">
            <div class="slides">
                <div class="slide"><img src="imagem1.jpg" alt="Imagem 1"></div>
                <div class="slide"><img src="imagem2.jpg" alt="Imagem 2"></div>
                <div class="slide"><img src="imagem3.jpg" alt="Imagem 3"></div>
            </div>
        </div>
        <script src="../assests/js/sobreNos.js"></script>
    </div>

</body>

</html>