<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>usuario_login</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/db29c2ca45.js" crossorigin="anonymous"></script>
    <!-- Fonte -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <!-- _____ -->
</head>

<body>
    <div class="container">
        <div class="login-content show" id="loginContent">
            <div class="logo">
                <img src="assets/Together.png" alt="logo">
            </div>
            <div class="box">
                <form class="login">
                    <button id="houseButton"></button><i class="fa-solid fa-house fa-xl" id="house-icon"></i></button>
                    <img src="assets/usuario-user-foto.png" alt="foto-user" class="round-image">
                    <input type="text" placeholder="Digite seu Login" class="text-input" id="login-input">
                    <input type="text" placeholder="Digite sua Senha" class="text-input" id="senha-input">
                    <a href="#">
                        <p id="esqueciSenhaButton" class="esqueci-senha">Esqueci a senha</p>
                    </a>
                    <div class="criar-conta-area">
                        <p class="pergunta">Nao possui uma conta?</p>
                        <button class="criar-conta" id="criarContaButton">Crie uma agora</button>
                    </div>
                    <button class="botao-login">Login</button>
                </form><!--login-->
            </div><!--box-->
        </div><!--login-content-->

        <div class="recuperar-content hidden" id="recuperarContent">
            <div class="box">
                <form class="login">
                    <button id="houseButton"><i class="fa-solid fa-house fa-xl" id="house-icon"></i></button>
                    <h1 class="titulo">Recuperar Senha</h1>
                    <p class="sub-titulo">Enviaremos um E-mail para você confirmar sua nova senha</p>
                    <input type="text" placeholder="Email" class="text-input" id="email-input">
                    <button class="botao-login">Enviar</button>
                </form>
            </div>
            <div class="logo">
                <img src="assets/Together.png" alt="logo">
            </div>
        </div>

        <div class="registrar-content hidden" id="registrarContent">
            <div class="box">
                <form class="registrar-box">
                    <button id="houseButton"><i class="fa-solid fa-house fa-xl" id="house-icon"></i></button>
                    <input type="text" placeholder="Digite seu Nome" class="register-input" id="nome-input">
                    <input type="text" placeholder="Digite seu CPF" class="register-input" id="cpf-input">
                    <input type="text" placeholder="Digite seu Telefone" class="register-input" id="telefone-input">
                    <input type="email" placeholder="Digite seu Email" class="register-input" id="email-input">
                    <input type="password" placeholder="Digite sua Senha" class="register-input" id="senha-input">
                    <input type="password" placeholder="Confirme a Senha" class="register-input" id="confirme-senha-input">
                    <div class="termos-area">
                        <input type="checkbox" id="checkbox">
                        <p class="concordo">Li e concordo com os</p>
                        <a href="" class="termos">Termos e Condições</a>
                    </div>
                    <button class="botao-registrar">Enviar</button>
                </form>
            </div>
            <div class="logo">
                <img src="assets/Together.png" alt="logo">
            </div>
        </div>

    </div><!--container-->

    <script>
        document.getElementById('criarContaButton').addEventListener('click', function (event) {
            event.preventDefault(); // Previne o comportamento padrão do botão
    
            const loginContent = document.getElementById('loginContent');
            const recuperarContent = document.getElementById('recuperarContent');
            const registrarContent = document.getElementById('registrarContent');
    
            loginContent.classList.remove('show');
            loginContent.classList.add('hidden');
            recuperarContent.classList.add('hidden');
            registrarContent.classList.remove('hidden');
            registrarContent.classList.add('show');
    
            setTimeout(() => {
                registrarContent.style.right = '50px'; // Ajuste a posição conforme necessário
            }, 10); // Pequeno atraso para garantir que a transição funcione
        });

        document.getElementById('esqueciSenhaButton').addEventListener('click', function (event) {
            event.preventDefault(); // Previne o comportamento padrão do botão
    
            const loginContent = document.getElementById('loginContent');
            const recuperarContent = document.getElementById('recuperarContent');
            const registrarContent = document.getElementById('registrarContent');
    
            loginContent.classList.remove('show');
            loginContent.classList.add('hidden');
            recuperarContent.classList.add('show');
            recuperarContent.classList.remove('hidden');
            registrarContent.classList.add('hidden');
            registrarContent.classList.remove('show');
    
            setTimeout(() => {
                registrarContent.style.right = '50px'; // Ajuste a posição conforme necessário
            }, 10); // Pequeno atraso para garantir que a transição funcione
        });


        document.getElementById('house-icon').addEventListener('click', function (event) {
            event.preventDefault(); // Previne o comportamento padrão do botão
    
            const loginContent = document.getElementById('loginContent');
            const recuperarContent = document.getElementById('recuperarContent');
            const registrarContent = document.getElementById('registrarContent');
    
            loginContent.classList.add('show');
            loginContent.classList.remove('hidden');
            recuperarContent.classList.add('hidden');
            recuperarContent.classList.remove('show');
            registrarContent.classList.add('hidden');
            registrarContent.classList.remove('show');
    
            setTimeout(() => {
                registrarContent.style.right = '50px'; // Ajuste a posição conforme necessário
            }, 10); // Pequeno atraso para garantir que a transição funcione
        });
    </script>


</body>

</html>