<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADM - Painel de Controle</title>

    <link rel="stylesheet" href="style.css">

</head>
<body>
    <header>
        <nav class="navbar">
            
        </nav>
    </header>
    <div class="container">
        <div>
            <div class="content-top">
                <div class="content-top-inside">
                    <img src="assets/icone-atualizacoes-cadastrais.svg" alt="atualizacoes cadastrais SVG">
                    <h2><b>Atualizações Cadastrais</b></h2>
                    <span>Valide as atualizações cadastrais das ONGs que enviaram uma solicitação.</span>

                </div>
                <div class="content-top-inside">
                    <img src="assets/icone-validar-ongs.svg" alt="validar ongs SVG">
                    <h2><b>Validar ONGs</b></h2>
                    <span>Valide por aqui as ONGs que enviaram uma solicitação .</span>

                </div>
                <div class="content-top-inside">
                    <img src="assets/icone-ongs-usuarios-cadastrados.svg" alt="ongs usuarios cadastrados SVG">
                    <h2><b>ONGs / Usuários Cadastatrados</b></h2>
                    <span>Veja por aqui as ONGs e Usuários que estão permitidas pelo sistema .</span>

                </div>
                
            </div>
            <div class="content-bottom">

                <div>
                    <img src="assets/icone-editar.svg" alt="editar SVg">
                    <h2><b>Editar</b></h2>
                    <span>Edite as Tags do botão de filtrar</span>

                </div>
                <div>
                    <img src="assets/icone-patrocinadores.png" alt="patrocinadores PNG">
                    <h2><b>Patrocinadores</b></h2>
                    <span>Gerencie os Patrocinadores</span>

                </div>

            </div>
            

            

            
        </div>
    </div>
</body>
</html>