.step {
  display: none;
  flex-direction: column;
  width: 100%;
}

.step.active {
  display: flex;
}

.group-btn-cadastro-ong {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.cadastrar-ong-row-endereco {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;

    .numero {
      width: calc(100% / 3);
    }

    .complemento {
      width: calc(100% / 1);
    }
}