
.ong-admin-container {
    width: 70%;
    height: 83dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-container-painel);
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: inset 0px 4px 10px var(--painel-box-shadow);
    border-radius: 30px;
}

.ong-admin-box {
    width: 900px;
    height: 600px;
    justify-content: center;
    display: flex;
    align-items: center;

}

.ong-admin-cards-div {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
    margin-top: 50px;
}

.ong-admin-default-card-config{
    width: 200px;
    height: 250px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.ong-admin-default-p-tag{
    width: 170px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.8rem;
    color: gray;
}

.ong-admin-default-img-config{
    background-color : var(--cor-botao-primary-);
}



#ong-admin-volunter-card {}
#ong-admin-edit-page-card {}
#ong-admin-report-card {}

#ong-admin-pending-volunter-card {

}

#ong-admin-create-post-card {}



#ong-admin-peding-volunter-card{
    margin-left: 33px;
}

.ong-admin-strong-config{
    margin-top: 20px;
    font-weight: 600;
    color: var(--cor-titles);
}

#ong-admin-edit-post{
    margin-top: 1px;
}