.container-geral-painel-de-controle-adm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 83vh;
    background-color: var(--cor-container-painel);
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: inset 0px 4px 10px var(--painel-box-shadow);
    border-radius: 30px;
}

.painel-de-controle-icone-conteudo {
    padding: 20px;
    width: 65px;
}

.box-painel-de-controle-adm {
    margin-top: 103.64px; 
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.conteudo-painel-de-controle-adm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
}

.conteudo-interno-painel-de-controle{
    width: 350px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    text-align: center;
    a{
        text-decoration: none;
    }
}

.conteudo-interno-painel-de-controle:hover {
    cursor: pointer;
}

.painel-de-controle-titulo-conteudo {
    font-size: 18px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 15px;
    
    b{
        color: var(--cor-titles);
    }
}

.painel-de-controle-desc-conteudo {
    font-size: 11px;
    color: var(--cor-font-preto);
    opacity: 50%;
}


@media (max-width: 1200px) {
    .box-painel-de-controle-adm {
        max-width: 1000px; 
        height: auto;
        padding: 20px; 
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
    }

    .painel-de-controle-conteudo-interno {
        width: 300px; 
        height: auto; 
        margin-bottom: 20px; 
    }
}


@media (max-width: 768px) {
    .box-painel-de-controle-adm {
        max-width: 400px; 
        padding: 10px; 
        display:flex;
        justify-content:center;
    }
}
 