.formulario-perfil {

    margin: auto;
 
    padding: 35px 70px 35px 70px;

    background-color: var(--cor-font-branco);
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
  }

@media screen and (max-width: 440px) {
    .formulario-perfil {
        padding: 40px 20px;
    }

} 