.show-nav {
    display: flex;
}

.navbar-group {
    background: var(--cor-navbar);
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding: 0 85px 0 85px;
    box-shadow: 1px 9px 16px -2px rgba(0, 0, 0, 0.315);
    position: fixed;
    z-index: 10;
}

.logo-navbar {
    height: 50px;
    width: 175px;
}

#btn-circular {
    font-size: 20px;
    color: #5c3a21;
}

.a-navbar {
    color: #5c3a21;
    text-decoration: none;
    font-size: 13px;
    transition: 0.4s;
    white-space: nowrap;
}

.a-navbar:hover {
    font-size: 15px;
    opacity: 0.7;
}

.ul-navbar {
    display: flex;
    list-style: none;
    gap: 50px;
    letter-spacing: 1.5px;
    width: 450px;
}

.div-barra-pesquisa {
    position: relative;
}

.barra-pesquisa-input {
    width: 280px;
    height: 35px;
    border-radius: 10px;
    border: none;
    padding: 0 40px 0 15px;
    animation-name: search-slide-animation;
    animation-duration: 0.3s;
}

.barra-pesquisa-input:focus {
    outline: none;
    border: none;
}

.submit-lente {
    background: none;
    width: 40px;
    border: none;
    position: absolute;
    right: 10px;
    top: 10px;
}

#lente-icon {
    width: 40px;
    color: var(--cor-roxo-escuro);
    right: 5px;
}

.login-botao-area-navbar {
    display: flex;
    justify-content: end;
    width: 120px;
}

.button-side-mobile-div {
    display: none;
}


@media screen and (max-width: 1280px) {

    .navbar-group {
        height: 50px;
    }

    .logo-navbar {
        height: 30px;
        width: 130px;
    }

    .a-navbar {
        font-size: 10px;
        white-space: nowrap;
    }

    .barra-pesquisa-input {
        width: 250px;
        height: 30px;
    }

    .submit-lente {
        top: 7px;
    }

    .login-botao-navbar {
        width: 120px;
        height: 30px;
        font-size: 10px;
    }

}

@media screen and (max-width: 850px) {

    .navbar-group {
        display: flex;
        height: 50px;
        padding: 0 35px 0 35px;
    }    

    .barra-pesquisa-input {
        width: 100px;
        height: 30px;
    }

    .login-botao-navbar {
        margin-right: 35px;
        width: 80px;
        height: 30px;
        font-size: 10px;
    }
    
    .button-side-mobile-div {
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 0 0 10px;
    }

    .button-side-mobile {
        height: 40px;
        width: 40px;
        border-radius: 10px;
        border: none;
        background-color: #bd986a00;
        color: #5d380b;
    }

    #barsIcon {
        font-size: 17px;
    }

}

@media screen and (max-width: 821px) {
    .navbar-group {
        height: 50px;
        padding: 0 35px 0 35px;
        gap: 0px;
    }    

    .logo-navbar {
        height: 30px;
        width: 120px;
    }

    .li-navbar {
        display: none;
    }

    .barra-pesquisa-input {
        display: none;
    }

    .login-botao-area-navbar {
        display: 20%;
        justify-content: end;
    }

    .barra-pesquisa-button {
        display: none;
    }

    #lente-icon {
        display: none;
    }

    .login-botao-navbar {
        margin-right: 35px;
        width: 80px;
        height: 30px;
        font-size: 10px;
    }
}