.hidden {
    display: none;
}

.show {
    display: block;
}

body {
    font-family: "Roboto";
}

.aside-area {
    height: 90vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 1000;
}

.aside-content {
    width: 65px;
    /* height: 55vh; */
    padding: 10px 0;
    background: var(--cor-navbar);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 10px;
    border-radius: 15px;
    box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.119);
}

.aside-button {
    text-decoration: none;
    color: #5c3a21;
    height: 65px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: 0.2s;
}

#userIcon,
#visaoSobreOng,
#criarIcon,
#relatorioIcon,
#voluntariosPendentes {
    font-size: 23px;
}

#validarOngsIcon,
#ongsCadastradasIcon,
#patrocinadoresIcon,
#usuariosCadastradosIcon {
    font-size: 23px;
}

#usuarioEdtarIcon,
#userFavoritadasIcon,
#userVoluntariadoIcon,
#historicoIcon {
    font-size: 23px;
}

.aside-button:hover {
    background-color: #bd986a80;
    transition: 0.2s;
}


@media screen and (max-width: 768px) {
    .side-container-area {
        display: none;
    }

    .aside-content-mobile {
        width: 100%;
        /* height: 55vh; */
        padding: 10px 0;
        background: var(--cor-navbar);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 0 0 35px 35px;
        box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.119);
    }

    .divisor-mobile {
        width: 90%;
        border: 0.5px solid #5c3a217b;
    }

    .aside-area-mobile {
        width: 100%;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10000;
    }

    .aside-button-mobile {
        text-decoration: none;
        color: #5c3a21;
        height: 55px;
        width: 300px;
        display: flex;
        justify-content: start;
        align-items: center;
        border-radius: 10px;
        transition: 0.2s;
    }

}