.p-validar-senha {
    font-weight: 500;
    color: var(--cor-font);
    padding-bottom: 5px;
}

.validar-senha li {
    color: #888;
    list-style: none;
    margin: 4px 0;
}

.validar-senha li.ok {
    color: green;
    font-weight: bold;
}

.validar-senha li.error {
    color: red;
}