.component-back-button{
    width: 45px;
    height: 40px;
    border-radius: 100%;
    background-color: transparent;
    border: none;
    color: var(--cor-cinza-novo);
    cursor: pointer;
    margin: 0 0 15px 10px;
}
#component-back-icon{
    
    font-size: 35px;
}

@media (max-width: 768px) {
    .component-back-button{
        margin-bottom: 20px;
    }
}
