.component-back-button{
    width: 45px;
    height: 40px;
    border-radius: 100%;
    background-color: transparent;
    border: none;
    color: blueviolet;
    cursor: pointer;
}
#component-back-icon{
    
    font-size: 35px;
}

