.card-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 400px;
}

.card-group {
  background-color: var(--cor-card);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 250px;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;  
  
  .card-top {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
    height: 40%;

    .card-image {
      width: calc(100% - 20px);
      height: 100%;
      object-fit: cover;
    }
  }

  .card-bottom {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 0 20px;

    .card-info {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .card-title {
        font-size: 1.2rem;
        font-weight: bold;
      }
      .card-description {
        width: 210px;
        height: auto;
        text-align: start;
        line-height: 1.2;
        overflow: hidden;
        text-overflow: ellipsis; 
      }
    }
    
    .card-btn {
      display: flex;
      justify-content: center;
      margin: 0 0 20px 0;

    }
  }
  
}

@media (min-width: 1600px) {
  .card-group .card-bottom .card-info .card-description {
    width: 220px;
  } 
}