.card-container {
    max-width: 320px;
    padding-top: 55px;
    font-family:
      Roboto,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    color: var(--cor-card);
  }
 
  .card-wrapper {
    border-radius: 12px;
    background-color: var(--cor-font-branco);
    border: 1px solid var(--cor-font-preto);
    display: flex;
    width: 100%;
    padding: 0 16px 23px;
    flex-direction: column;
    align-items: stretch;
  }
 
  .card-image {
    aspect-ratio: 1.45;
    object-fit: contain;
    object-position: center;
    width: 100%;
    border-radius: 30px;
    z-index: 10;
    margin-top: -55px;
  }
 
  .card-title {
    background-blend-mode: normal;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    align-self: start;
    margin-top: 22px;
    margin-left: 13px;
  }
 
  .card-description {
    background-blend-mode: normal;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    align-self: center;
    margin-top: 22px;
  }
 
  .read-more-button {
    background-blend-mode: normal;
    border-radius: 8px;
    background-color: var(--cor-botao);
    box-shadow: 0px 4px 6px -1px rgba(59, 130, 246, 0.2);
    border: 2px solid var(--cor-font-branco);
    margin-top: 45px;
    margin-left: 13px;
    width: 118px;
    max-width: 100%;
    padding: 10px 43px;
    overflow: hidden;
    font-size: 12px;
    color: var(--cor-font-branco);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    line-height: 16px;
    cursor: pointer;
  }
 