.formulario-perfil {
    /* max-width: 1000px; */
    margin: auto;
    /* border: 1px solid var(--cor-cinza-escuro); */
    padding: 35px 70px 35px 70px;

    background-color: var(--cor-font-branco);
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
  }

@media screen and (max-width: 425px) {
  .formulario-perfil {
    padding: 50px 50px 35px 50px;

  }

} 