.hidden {
    display: none;
}

.show-nav {
    display: flex;
}



.navbar-group {
    background: var(--cor-navbar);
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding: 0 85px 0 85px;
}

.logo-navbar {
    height: 50px;
    width: 175px;
    /* animation: RODA 3s linear infinite; */
}

@keyframes RODA {
    0% {
        transform: rotateZ(0deg);
    }

    50% {
        transform: rotateZ(180deg);
    }

    100% {
        transform: rotateZ(3600deg);
    }
}

.a-navbar {
    color: #5c3a21;
    text-decoration: none;
    font-size: 13px;
    transition: 0.4s;
    white-space: nowrap;
}

.a-navbar:hover {
    font-size: 15px;
    opacity: 0.7;
}

.ul-navbar {
    display: flex;
    list-style: none;
    gap: 50px;
    letter-spacing: 1.5px;
    width: 450px;
}

.div-barra-pesquisa {
    position: relative;
}

.barra-pesquisa-input {
    width: 280px;
    height: 35px;
    border-radius: 10px;
    border: none;
    padding: 0 40px 0 15px;
    animation-name: search-slide-animation;
    animation-duration: 0.3s;
}

.barra-pesquisa-input:focus {
    outline: none;
    border: none;
}

.submit-lente {
    background: none;
    width: 40px;
    border: none;
    position: absolute;
    right: 10px;
    top: 10px;
}

#lente-icon {
    width: 40px;
    color: var(--cor-roxo-escuro);
    right: 5px;
}

.login-botao-area-navbar {
    display: flex;
    justify-content: end;
    width: 120px;
}

/* .login-botao-navbar {
    width: 130px;
    height: 42px;
    border: none;
    border-radius: 10px;
    background-color: #5c3a21;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3S;
    letter-spacing: 2px;
} */

/* .login-botao-navbar:hover {
    scale: 1.1;
    transition: 0.3S;
} */


@media screen and (max-width: 1280px) {

    .navbar-group {
        height: 50px;
    }

    .logo-navbar {
        height: 30px;
        width: 130px;
    }

    .a-navbar {
        font-size: 10px;
        white-space: nowrap;
    }

    .barra-pesquisa-input {
        width: 250px;
        height: 30px;
    }

    .submit-lente {
        top: 7px;
    }

    .login-botao-navbar {
        width: 120px;
        height: 30px;
        font-size: 10px;
    }

}

@media screen and (max-width: 850px) {

    .navbar-group {
        height: 50px;
        padding: 0 35px 0 35px;
    }    

    .barra-pesquisa-input {
        width: 100px;
        height: 30px;
    }

    .login-botao-area-navbar {
        display: 20%;
        /* padding-right: 35px; */
        justify-content: end;
    }

    .login-botao-navbar {
        margin-right: 35px;
        width: 80px;
        height: 30px;
        font-size: 10px;
    }


}

@media screen and (max-width: 450px) {
    .navbar-group {
        height: 50px;
        padding: 0 35px 0 35px;
    }    

    .logo-navbar {
        height: 30px;
        width: 120px;
    }

    .li-navbar {
        display: none;
    }

    .barra-pesquisa-input {
        display: none;
    }

    .login-botao-area-navbar {
        display: 20%;
        /* padding-right: 35px; */
        justify-content: end;
    }

    .barra-pesquisa-button {
        display: none;
    }

    #lente-icon {
        display: none;
    }

    .login-botao-navbar {
        margin-right: 35px;
        width: 80px;
        height: 30px;
        font-size: 10px;
    }
}