.hidden {
    display: none;
}

.show {
    display: block;
}

body {
    font-family: "Roboto";
}

.aside-area {
    height: 90vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

.aside-content {
    width: 65git px;
    /* height: 55vh; */
    padding: 10px 0;
    background: var(--cor-navbar);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 10px;
    border-radius: 15px;
    box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.119);
}

.aside-button {
    text-decoration: none;
    color: #5c3a21;
    height: 65px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: 0.2s;
}

#userIcon,
#visaoSobreOng,
#criarIcon,
#relatorioIcon,
#voluntariosPendentes {
    font-size: 23px;
}

#validarOngsIcon,
#ongsCadastradasIcon,
#patrocinadoresIcon,
#usuariosCadastradosIcon {
    font-size: 23px;
}

#usuarioEdtarIcon,
#userFavoritadasIcon,
#userVoluntariadoIcon,
#historicoIcon {
    font-size: 23px;
}

.aside-button:hover {
    background-color: #bd986a80;
    transition: 0.2s;
}


@media screen and (max-width: 768px) {
    .side-container-area {
        display: none;
    }

    .button-side-mobile-div {
        height: 80vh;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 10000;
        margin: 0 0 0 10px;
    }

    .button-side-mobile {
        height: 40px;
        width: 40px;
        border-radius: 10px;
        border: 1px solid #5d380b;
        background-color: #bd986a;
        color: white;
    }
}