.titulo-pagina-tabela{
  font-size: 3rem;
  font-weight: bold;
  color: var(--cor-roxo-escuro);
  margin: 20px;
}

.tabela {
  text-align: center;
  margin: 0 auto;
  width: 98%;
  border-collapse: collapse;
  overflow: hidden;
}

.tabela td,
.tabela th {
  padding: 9px;
  border: 1px solid var(--cor-font-branco);
  text-align: center;
  vertical-align: middle;
  color: #797777;
  font-weight: bold;
  font-size: 120%;
}

.tabela th {
  background-color: var(--cor-roxo-escuro);
  color: var(--cor-font-branco);
  padding: 15px;
  border-right: 1px solid var(--cor-font-branco);
  border-left: 1px solid var(--cor-font-branco);
}

.tabela tr:nth-child(even) {
  background: #E1D0A3 ;
}

.icon-btn {
  border: none;
  background-color: transparent;
  display: block;
  margin: 0 auto;
}

.icon {
  cursor: pointer;
  position: relative;
  display: block;
  margin: 0 auto;
  width: 30px;
  object-fit: contain;
}

.acoes-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.acao{
  font-size: 150%;
}