<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="../assests/css/ong/navbar.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div>
                <a href="#" >
                    <img class="logo-navbar" src="https://raw.githubusercontent.com/AntonioV1ctor/assets/refs/heads/main/Together.png" alt="">
                </a>
            </div>
           

            <ul class="nav-links">
                <li><a href="">Home</a></li>
                <li><button id="tag">Filtrar</button></li>
                <li><a href="">Feed</a></li>
                <li><a href="">Sobre nós</a></li>
            </ul>
            
            <div class="pesquisar">
                <!-- Checkbox que ativa a pesquisa -->
                <input checked="" class="checkbox" type="checkbox">
                
                <div class="mainbox">
                    <!-- Ícone de pesquisa -->
                    <div class="iconContainer">
                        <svg viewBox="0 0 512 512" height="1em" xmlns="http://www.w3.org/2000/svg" class="search_icon">
                            <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"></path>
                        </svg>
                    </div>
                    <!-- Campo de pesquisa -->
                    <input class="search_input" placeholder="Buscar" type="text">
                </div>
            </div>
                
                <div class="mobile-menu">
                    <div class="admin-moldure">
                        <img class="admin-icon" src="../assests/images/geral/img01.jpg" alt="">
                    </div>
                </div>
        </nav>

    </header>
    <main>
        <div class="filtro">
            <div class="filtroHeader" id="filtroAba">
                <div id="botaoFiltroHaeder"><input type="checkbox" id="checkboxHeader"> Erradicação da Pobreza</div>
                <div id="botaoFiltroHaeder"><input type="checkbox" id="checkboxHeader">Fome Zero e Agricultura Sustentavel</div>
                <div id="botaoFiltroHaeder"><input type="checkbox" id="checkboxHeader">buSaúde e bem-estar</div>
                <div id="botaoFiltroHaeder"><input type="checkbox" id="checkboxHeader">Educação de qualidade</div>
                <div id="botaoFiltroHaeder"><input type="checkbox" id="checkboxHeader">Igualidade de gênero</div>
                <div id="botaoFiltroHaeder"><input type="checkbox" id="checkboxHeader">Água potável e saneamento</div>
                <div id="botaoFiltroHaeder"><input type="checkbox" id="checkboxHeader">Parcerias e meios de implementação</div>
                <div id="botaoFiltroHaeder"><input type="checkbox" id="checkboxHeader">Paz, justiça e instituições eficazes</div>
                <div id="botaoFiltroHaeder"><input type="checkbox" id="checkboxHeader">Vida terrestre</div>
                <div id="botaoFiltroHaeder"><input type="checkbox" id="checkboxHeader">Vida na água</div>
                <div id="botaoFiltroHaeder"><input type="checkbox" id="checkboxHeader">Ação contra a mudança global do clima</div>
                <div id="botaoFiltroHaeder"><input type="checkbox" id="checkboxHeader">Consumo e produção responsáveis</div>
                <div id="botaoFiltroHaeder"><input type="checkbox" id="checkboxHeader">Trabalho descente e crescimento econômico</div>
                <div id="botaoFiltroHaeder"><input type="checkbox" id="checkboxHeader">Indústria, inovação e infraesturtura</div>
                <div id="botaoFiltroHaeder"><input type="checkbox" id="checkboxHeader">Redução das desigualdades</div>
                <div id="botaoFiltroHaeder"><input type="checkbox" id="checkboxHeader">Cidades e comunidades sustentáveis</div>
                <div id="botaoFiltroHaeder"><input type="checkbox" id="checkboxHeader">Energia limpa e acessível</div>
            </div>
        </div>

        <script src="../assests/js/ong/navbar.js"></script>
    </main>
</body>
</html>