<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ONG - EDITAR PERFIL</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <main>
        <h1 class="titulo-postagem">Postagem da ONG</h1>
        <p class="paragrafo-postagem">Mostrem ao público que seus projetos salvam vidas !!!</p>
        <p class="tag-obrigatorio">*Obrigatorio</p>
        <ul class="lista-img">
            <li>
                <label class="label-img" for="file">
                    <img class="label-icon" src="assets/img/add.png" alt="icon add">
                </label>
                <input class="input-img" id="file" type="file" accept="image/*" multiple>
            </li>
            <li>
                <img class="img-postagem"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmxz5tVBTLXussY-3KaWIMG1wSBPv_rbKFMQ&s"
                    alt="Foto do projeto">
            </li>
        </ul>
        <form action="">
            <p class="tag-obrigatorio">*Obrigatorio</p>
            <h1 class="subtitulo-postagem">Descrição</h1>
            <p class="paragrafo-postagem">Coloque uma descrição breve da Postagem</p>
            <input class="input-postagem" id="contador" type="text" size=10 maxlength=255 required placeholder="Digite">

            <p class="tag-obrigatorio">*Obrigatorio</p>
            <h1 class="subtitulo-postagem">Hiperlink</h1>
            <p class="paragrafo-postagem">Digite aqui o link de Redirecionamento da Descrição.</p>
            <input class="input-postagem" id="contador" type="url" size=10 maxlength=255 required placeholder="Digite">

            <div class="btn-div">
                <button class="botao salvar" type="submit">Salvar</button>
                <button class="botao cancelar" type="reset">Cancelar</button>
            </div>
        </form>
    </main>
    <script src="script.js"></script>
</body>

</html>