<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ONG - EDITAR PERFIL</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <main>
        <form action="" class="form">
            <div class="input-group">
                <h1 class="titulo-postagem">Postagem da ONG</h1>
                <p class="paragrafo-postagem">Mostrem ao público que seus projetos salvam vidas !!!</p>
                <p class="tag-obrigatorio">*Obrigatorio</p>
                <ul id="images">
                    <li>
                        <input class="input-file" id="file-input" type="file" accept="image/*" onchange="preview()"
                            multiple>
                        <label class="label-img" for="file-input">
                            <img class="label-icon" src="assets/img/add.png" alt="icon add">
                            <p id="num-de-arquivos">Nenhum Arquivo Encontrado</p>
                        </label>
                    </li>
                </ul>
            </div>
            <div class="input-group">
                <h1 class="titulo-postagem">Descrição</h1>
                <p class="paragrafo-postagem">Coloque uma descrição breve da Postagem</p>
                <p class="tag-obrigatorio">*Obrigatorio</p>
                <div class="input-descricao">
                    <input class="input-postagem" id="texto" type="text" size=10 maxlength=255 required
                        placeholder="Digite">
                    <span id="contador"></span>
                </div>
            </div>
            <div class="input-group">
                <h1 class="titulo-postagem">Hiperlink</h1>
                <p class="paragrafo-postagem">Digite aqui o link de Redirecionamento da Descrição.</p>
                <p class="tag-obrigatorio">*Obrigatorio</p>
                <input class="input-postagem" type="url" size=10 maxlength=255 required placeholder="Digite">
            </div>
            <div class="btn-div">
                <button class="botao salvar" type="submit">Salvar</button>
                <button class="botao cancelar" type="reset">Cancelar</button>
            </div>
        </form>
    </main>
    <script src="./assets/js/script.js"></script>
</body>

</html>