<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Patrocinadores</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="sec1">
        <div class="lista-patrocinadores texto-gradient">  
            <h1 class="">Lista Patrocinadores</h1>
      
            <ul>
                <li>
                    <div>
                        <img src="" alt="logo imagem">
                    <p>XXXXXXXXXXXXX</p>
                    </div>
                    <label class="container-check">
                        <input checked="checked" type="checkbox">
                        <div class="checkmark"></div>
                    </label>
                </li>
                <li>
                    <div>
                        <img src="" alt="logo imagem">
                    <p>XXXXXXXXXXXXX</p>
                    </div>
                    <label class="container-check">
                        <input checked="checked" type="checkbox">
                        <div class="checkmark"></div>
                    </label>
                </li>
                <li>
                    <div>
                        <img src="" alt="logo imagem">
                    <p>XXXXXXXXXXXXX</p>
                    </div>
                    <label class="container-check">
                        <input checked="checked" type="checkbox">
                        <div class="checkmark"></div>
                    </label>
                </li>
                <li>
                    <div>
                        <img src="" alt="logo imagem">
                    <p>XXXXXXXXXXXXX</p>
                    </div>
                    <label class="container-check">
                        <input checked="checked" type="checkbox">
                        <div class="checkmark"></div>
                    </label>
                </li>
                <li>
                    <div>
                        <img src="" alt="logo imagem">
                    <p>XXXXXXXXXXXXX</p>
                    </div>
                    <label class="container-check">
                        <input checked="checked" type="checkbox">
                        <div class="checkmark"></div>
                    </label>
                </li>
            </ul>
        </div>
    </section>
    <section class="sec2">
        <div class="a3">
            <div>
                <label class="container-ad">
                    <div class="deletar">
                        <img src="assets/" alt="a">
                    </div>
                </label>
            </div>
            <div>
                <label class="container-ad">
                    <div class="adicionar"></div>
                </label>
            </div>
        </div>
        </section>
    </section>
</body>
</html>