<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gerenciar conta</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_forward_ios"
    />
    <link rel="stylesheet" href="/view/59_USER_GERENCIAR_CONTA/style.css" />
    <header>
      <!-- Aqui será inserido a navbar -->
    </header>
  </head>
  <body>
    <section>
      <div class="perfil">
        <a href="#">
          <button type="button" class="button">
            <img
              class="imagem"
              src="/view/59_USER_GERENCIAR_CONTA/imagens/login-foto.png"
              alt="foto Usuario"
            />
            <p>Editar Usuario</p>
            <span class="material-symbols-outlined"> arrow_forward_ios </span>
          </button>
        </a>
      </div>
      <hr />
    </section>
  </body>
</html>
