.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px 20px 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn-div {
    display: flex;
    gap: 30px;
    justify-content: start;
}


.titulo-postagem {
    font-size: 1.4rem;
    font-weight: bold;
}

.paragrafo-postagem {
    color: var(--cor-font-preto);
    font-size: 14px;
    z-index: 1;
}

.tag-obrigatorio {
    color: var(--cor-vermelho);
    font-size: 12px;
}

.input-postagem {
    width: calc(100% - 20px);
    height: 55px;
    border-radius: 5px;
    border: none;
    background-color: var(--cor-cinza-claro);
    padding: 0 10px 0 10px;
}   

.input-descricao {  
    position: relative;

    #contador{
        color: var(--cor-cinza-escuro);
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
}

.input-file {
    display: none;
}

.label-img {
    width: 205px;
    height: 125px;
    border-radius: 5px;
    background-color: var(--cor-cinza-claro);
    text-align: center;
    display: block;
    position: relative;
    cursor: pointer;

    .label-icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    #num-de-arquivos {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        padding: 5px 0 0 0;
        font-size: 0.9rem;
        color: var(--cor-cinza-escuro);
    }
}

#images {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 20px;
}

.img-postagem {
    width: 212px;
    height: 125px;
    border-radius: 5px;
}

.figcaption-postagem {
    text-align: center;
    height: 25px;
}