.logo-patrocinador{
    max-width: 50px;
    border-radius: 50px ;
}

.nome-patrocinador {
    font-size: 200%;
    font-weight: bold;
    color: #797777    ;
}

.container-botao-patrocinadores{
    display: flex;
    justify-content: space-between;
    button{
        margin-right: 20px;
    }
}

.filtro-botao-patrocinador{
    display: flex;
    flex-direction: row;
    input{
        width: 300px;
        margin-right: 10px;
    }
}



.inserir-patrocinadores{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.inputs-patrocinadores{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 50px;
    
}

.botao-modal-patrocinadores{
    margin-top: 50px;
}