/* .home-banner-together {
    width: 100%;
    background-image: url("/together/view/assests/images/Geral/together-banner_home.png");
    height: 495px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1400px 400px;

    background-color: red;
    

} */

.home-title-favorite {
    font-size: 44px;
    font-weight: 700;
    color: #590AB4;
}

.home-scroll-area{
    width: 100%;
    display: flex;
    height: 480px;
    gap:75px;
    overflow: hidden;
    
}

.home-card-box{
    margin-top: 40px;
    width: 97%;
    margin-left: 30px;
}

.sobre-nos-section{
    width: 100%;
    height: 604px;
    display: flex;
    justify-content: space-around;
}
 
.sobre-nos-cards-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
 
.sobre-nos-text-container{
    width:50%;
    margin-top: 50px;
}
.sobre-nos-content{
    display: flex;
    text-align: justify;
    flex-direction: column;
    gap: 50px;
    width: 460px;
    height: 554px;
    margin-left: 30px;
}
.sobre-nos-text-container h1{
    font-weight: 700;
    font-size: 44px;
    line-height: 25px;
    color: #590AB4;
}
 
.sobre-nos-text-container p{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: gray;
    letter-spacing: -0.5px;
}
.sobre-nos-content hr {
    width: 100%;
    height: 1px;
    background-color: #dddddd;
}
 
.sobre-nos-image-container{
    margin-top: 50px;
    margin-right: 20px;
}
 
.sobre-nos-image{
    width: 800px;
    border-radius: 0px 0px 0px 4px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
    -5px -5px 10px rgba(255, 255, 255, 0.5);
}
 
.sobre-nos-cards-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}
 
.sobre-nos-card{
    display: flex;
    color: black;
    width: 460px;
    height: auto;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
 
.sobre-nos-card h2 {
    font-family: 'roboto', sans-serif;
    color: #590AB4;
    margin-top: 10px;
}
.sobre-nos-card p {
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    color: gray;
    text-align: center;
    margin-top: 10px;
    text-align: justify;
}
 
.social-media {
    margin-top: 1px;
}
 
.social-media a {
    margin: 0 1px;
    display: inline-block;
}
 
.social-media img {
    margin: 5px 20px;
    width: 30px;
    height: 30px;
}

.home-div-botao{
    margin: 20px 0;
}