.home-main {
    width: calc(1200px - 160px);
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .home-container {
        width: calc(1200px - 160px);
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        gap: 30px;
    }
}

.home-banner-together {
    height: 85vh;
    background-image: url("/together/view/assests/images/Geral/newImg.jpg");
    background-position-x: 50%;
    background-position-Y: 45%;
    background-repeat: no-repeat;
}

.home-title-favorite {
    font-size: 44px;
    font-weight: 700;
    color: var(--cor-cinza-novo);
}

.home-scroll-area{
    width: 100%;
    display: flex;
    height: 480px;
    gap:75px;
    overflow: hidden;
    
}

.home-card-box{
    width: 97%;
}

/* SOBRE NOS  ----------------------------------------------------------------------------*/ 
.sobre-nos-section{
    justify-content: center;
    display: flex;
    align-items: center;
}

.sobre-nos-container{
    padding: 20px 0;
    display: flex;
    align-items: center;
    height: 100%;

    p{
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #000;
        letter-spacing: -0.5px;
    }

    h1{
        display: flex;
        align-items: center;
        height: 40px;
        font-weight: 700;
        font-size: 44px;
        line-height: 25px;
        color: #590AB4;
    }
}

.sobre-nos-content{
    width: calc(1200px - 160px);
    display: flex;
    justify-content: center;
    text-align: justify;
    flex-direction: column;
    gap: 20px;

    hr {
        width: 100%;
        height: 1px;
        background-color: #dddddd;
    }
}

.sobre-nos-image{
    width: 700px;
    border-radius: 0px 0px 0px 4px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
    -5px -5px 10px rgba(255, 255, 255, 0.5);
}
 
 /* SOBRE NOS ----------------------------------------------------------------------  */

.sobre-nos-cards-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
 
.sobre-nos-cards-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    padding: 20px 0;
}
 
.sobre-nos-card{
    width: calc(100% / 4);
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: var(--cor-card);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
    h2 {
        font-family: 'roboto', sans-serif;
        color: #590AB4;
    }

    p {
        font-family: 'roboto', sans-serif;
        font-size: 16px;
        color: gray;
        text-align: center;
        text-align: justify;
    }
}

.home-div-botao {
    width: calc(1200px - 160px);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 440px) {
    .home-main {
        width: calc(440px - 60px);
        overflow: hidden;
    }
    .home-container {
        width: calc(440px - 60px);

    }
    .sobre-nos-card {
        flex-direction: column;
    }
    .sobre-nos-cards-container {
        justify-content: center;
        flex-direction: column;
    }
    .sobre-nos-content {
        width: calc(440px - 60px);
    }
}