:root {
    --gradient: linear-gradient(49deg, hsl(263, 100%, 32%) 0%, rgba(218, 112, 255, 1) 100%);
    --shadow: 1px 1px 9px rgba(0, 0, 0, 0.366);
}

.body_login_da_ong {
    background-image: url("../../images/Ong/ong_background-better.png");
    background-size: cover;
    background-attachment: fixed;
    font-family: "Roboto", serif;
}

.box-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.img_logo {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;


}

.login_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.login_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 255px;
    height: 370px;
    background-color: rgba(255, 255, 255, 0.532);
    border: none;
    border-radius: 30px;
    position: relative;
}

.container-registroONG {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 97vh;
}

.wrapper_lostPASS {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 97vh;
}

.container_login_da_ong {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 97vh;

}

#login_ong {
    height: 50px;
    margin: 3%;
}

.creat_acc_ {
    position: absolute;
    top: 345px;
}

.text_input {
    width: 250px;
    height: 10px;
    min-height: 38px;
    border: none;
    border-radius: 30px;
    padding: 0 0 0 15px;
    font-family: "Roboto", serif;
    margin: 30px 0 0 0;
    box-shadow: 1px 1px 9px var(--shadow);
}

.lost-pass {
    position: absolute;
    top: 300px;
    right: 26px;
    font-size: 13px;
}

#name_input {
    font-size: 12px;
    position: absolute;
    top: 220px;
    height: 46px;
}

#cnpj_input {
    font-size: 12px;
    position: absolute;
    top: 165px;
    height: 46px;
}

::placeholder {
    color: #a4a4a4;
}

.terms_area {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 323px;
}

.agree_text {
    font-size: 12px;
}

.terms_link {
    margin: 0 0 0 3px;
    font-size: 12px;
    font-weight: bold;
    color: #7608a5;
}

.login_button {
    width: 210px;
    height: 50px;
    color: white;
    background: var(--gradient);
    font-weight: bold;
    font-size: 20px;
    min-height: 50px;
    border: none;
    border-radius: 30px;
    position: absolute;
    top: 360px;
    transition: 0.2s;
}

.login_button:hover {
    scale: 105%;
    box-shadow: 1px 3px 1px var(--shadow);
}

#house_icon {
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: top;
    z-index: 2;
    margin: 0 230px 0 0;
    color: #7608a5;
    top: 30px;
    left: 25px;
}

.user-moldure {
    width: 130px;
    height: 130px;
    background: var(--gradient-background);
    border-radius: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border: 2.5px solid #7608a5;
    position: absolute;
    top: 50px;
}

.user-icon {
    color: aliceblue;
}

.logo_div-registroONG {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
}

#logo_img-registroONG {
    width: 300px;
}

.box-registroONG {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.login_form-registroONG {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 280px;
    height: 455px;
    background-color: rgba(255, 255, 255, 0.532);
    border: none;
    border-radius: 30px;
    position: relative;
}

.text_input-registroONG {
    width: 250px;
    height: 10px;
    min-height: 38px;
    border: none;
    border-radius: 30px;
    padding: 0 0 0 15px;
    font-family: "Roboto", serif;
    margin: 30px 0 0 0;
    box-shadow: 23px 22px 41px -24px var(--shadow);
}

#name_input-registroONG {
    font-size: 12px;
    position: absolute;
    top: 20px;
}

#cnpj_input-registroONG {
    font-size: 12px;
    position: absolute;
    top: 65px;
}

#phone_input-registroONG {
    font-size: 12px;
    position: absolute;
    width: 115px;
    left: 38px;
    top: 110px;
}

#foundation_date_input-registroONG {
    font-size: 12px;
    position: absolute;
    width: 115px;
    right: 38px;
    top: 110px;
}

#address_input-registroONG {
    font-size: 12px;
    position: absolute;
    top: 155px;
}

#fiscal_council_input-registroONG {
    font-size: 12px;
    position: absolute;
    width: 115px;
    left: 38px;
    top: 200px;
}

#ong_type_input-registroONG {
    font-size: 12px;
    position: absolute;
    width: 115px;
    right: 38px;
    top: 200px;
}

#ong_logo_input-registroONG {
    font-size: 12px;
    position: absolute;
    width: 115px;
    left: 38px;
    top: 245px;
}

#email_input-registroONG {
    font-size: 12px;
    position: absolute;
    width: 115px;
    right: 38px;
    top: 245px;
}

#password_input-registroONG {
    font-size: 12px;
    position: absolute;
    top: 290px;
}

#confirm_password_input-registroONG {
    font-size: 12px;
    position: absolute;
    top: 335px;
}

::placeholder {
    color: #a4a4a4;
}

.terms_area-registroONG {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 410px;
    gap: 5px;
}

#checkbox-registroONG {
    height: 30px;
    width: 20px;
    text-decoration: none;
}

.agree_text-registroONG {
    font-size: 12px;
}

.terms_link-registroONG {
    margin: 0 0 0 3px;
    font-size: 12px;
    font-weight: bold;
    color: #7608a5;
}

.login_button-registroONG {
    width: 180px;
    color: white;
    background: var(--gradient);
    font-weight: bold;
    font-size: 20px;
    height: 50px;
    min-height: 50px;
    border: none;
    border-radius: 30px;
    position: absolute;
    top: 445px;
    transition: 0.2s;
}

.login_button-registroONG:hover {
    width: 185px;
    height: 55px;
    transition: 0.2s;
}

#house_icon {
    position: absolute;
    display: flex;
    justify-content: top;
    z-index: 2;
    margin: 0 230px 0 0;
    color: #7608a5;
    top: 30px;
    left: 25px;
}

#paperclip_fiscal {
    position: absolute;
    color: #a4a4a4;
    left: 148px;
    top: 242px;
}

#paperclip_logo {
    position: absolute;
    color: #a4a4a4;
    left: 148px;
    top: 287px;
}



.text_lostPASS {
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 9.4px;
    margin: 0;
    top: 115px;
}

.title_lostPASS {
    position: absolute;
    font-size: 32px;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    top: 55px;
}

.logo-container_lostPASS {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
}

/* #logo_lostPASS {
    width: 380px;
} */

.form-container_lostPASS {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.form_lostPASS {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 255px;
    height: 370px;
    background-color: rgba(255, 255, 255, 0.532);
    border: none;
    border-radius: 30px;
    position: relative;
}

.input_lostPASS {
    width: 250px;
    height: 50px;
    min-width: 50px;
    border: none;
    border-radius: 15px;
    padding: 0 15px;
    font-family: "Roboto", serif;
    margin-top: 30px;
    box-shadow: 1px 1px 7px 1px var(--shadow);
}

#email-input_lostPASS {
    font-size: 12px;
    position: absolute;
    top: 165px;
}

::placeholder {
    color: #a4a4a4;
}

.button_lostPASS {
    width: 180px;
    color: white;
    background: var(--gradient);
    font-weight: bold;
    font-size: 20px;
    height: 50px;
    min-height: 50px;
    border: none;
    border-radius: 30px;
    position: absolute;
    top: 350px;
    transition: 0.2s;
}

.button_lostPASS:hover {
    width: 185px;
    height: 55px;
    transition: 0.2s;
}

#home-icon_lostPASS,
#house_icon_registro {
    position: absolute;
    display: flex;
    justify-content: top;
    z-index: 2;
    margin-right: 230px;
    color: #7608a5;
    top: 30px;
    left: 25px;
}

@media screen and (max-width: 768px) {

    #logo_lostPASS {
        width: 300px;

    }

    .wrapper_lostPASS {
        flex-direction: column-reverse;
        background-image: none;
        justify-content: center;
        align-items: center;
    }

    .form-container_lostPASS {
        width: 100%;
    }

    .logo-container_lostPASS {
        width: 0%;
    }

    .input_lostPASS {
        height: 50px;
    }

    .button_lostPASS {
        height: 50px;
    }

    .form_lostPASS {
        min-width: 230px;
        width: 230px;
        max-width: 230px;
    }

    #home-icon_lostPASS {
        margin-right: 180px;
    }

    .login_box {
        width: 250px;
    }

    #logo_img-registroONG {
        width: 300px;

    }

    .img_logo {

        top: 120px;
        width: 100%;
        display: flex;
        align-items: bottom;
        justify-content: center;
        z-index: 1;
    }

    .login_container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }

    .box-login {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .container-registroONG {
        flex-direction: column-reverse;
        background-image: none;
        justify-content: center;
        align-items: center;
    }

    .box-registroONG {
        width: 100%;
    }

    .logo_div-registroONG {
        width: 0%;
    }

    .text_input-registroONG {
        height: 30px;
    }

    .login_button-registroONG {
        height: 50px;
    }

    .login_form-registroONG {
        min-width: 230px;
        width: 230px;
        max-width: 230px;
        height: 455px;
    }

    #phone_input-registroONG {
        font-size: 12px;
        position: absolute;
        width: 115px;
        left: 14px;
        top: 110px;
    }

    #foundation_date_input-registroONG {
        font-size: 12px;
        position: absolute;
        width: 115px;
        right: 14px;
        top: 110px;
    }

    #house_icon {
        position: absolute;
        display: flex;
        justify-content: top;
        z-index: 2;
        margin: 0 180px 0 0;
        color: #7608a5;
    }

    #fiscal_council_input-registroONG {
        font-size: 12px;
        position: absolute;
        width: 115px;
        left: 14px;
        top: 200px;
    }

    #ong_type_input-registroONG {
        font-size: 12px;
        position: absolute;
        width: 115px;
        right: 14px;
        top: 200px;
    }

    #ong_logo_input-registroONG {
        font-size: 12px;
        position: absolute;
        width: 115px;
        left: 14px;
        top: 245px;
    }

    #email_input-registroONG {
        font-size: 12px;
        position: absolute;
        width: 115px;
        right: 14px;
        top: 245px;
    }

    .body_login_da_ong {

        background-position: center;
        background-image: #FFFFFF url("../../images/Ong/Ong_icon.png") no-repeat right top fixed;
    }

    #logo_img {
        width: 300px;

    }

    #name_input {
        height: 46px;
        font-size: 12px;
        position: absolute;
        top: 220px;
    }

    #cnpj_input {
        font-size: 12px;
        height: 46px;
        position: absolute;
        top: 165px;
    }


    .container {
        display: flex;
        background-image: none;
    }

    .box {
        width: 100%;
    }

    .logo_div {
        width: 0%;
    }



    .login_button {
        height: 50px;
    }

    .login_form {
        min-width: 230px;
        width: 230px;
        max-width: 230px;
        height: 455px;
    }

    #phone_input {
        font-size: 12px;
        position: absolute;
        width: 115px;
        left: 14px;
        top: 110px;
    }

    #foundation_date_input {
        font-size: 12px;
        position: absolute;
        width: 115px;
        right: 14px;
        top: 110px;
    }

    #house_icon {
        position: absolute;
        display: flex;
        justify-content: top;
        z-index: 2;
        margin: 0 180px 0 0;
        color: #7608a5;
    }

    #fiscal_council_input {
        font-size: 12px;
        position: absolute;
        width: 115px;
        left: 14px;
        top: 200px;
    }

    #ong_type_input {
        font-size: 12px;
        position: absolute;
        width: 115px;
        right: 14px;
        top: 200px;
    }

    #ong_logo_input {
        font-size: 12px;
        position: absolute;
        width: 115px;
        left: 14px;
        top: 245px;
    }

    #email_input {
        font-size: 12px;
        position: absolute;
        width: 115px;
        right: 14px;
        top: 245px;
    }
}