.validacao-ong-h1{
    font-size: 50px;
    background: var(--gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px;
    font-weight: bold;
}

.validacao-ong-botao-visualizar{
    background: none;
    border: none;
}
.fa-regular.fa-eye.validacao-ong-icone-visualizar{
    color: black;
}

.fa-solid.fa-arrow-left{
    position: relative;
    top: -40px;

}

.validacao-ong-tabela{
    margin-top: 25px;
}

.container-valida-ong{
    z-index: 1;
    width: 350px;
    height: 500px;
    border-radius: 25px;    
    top: calc((100vh - 520px)/2);
    border: 2px solid #8B1CD3;
    box-shadow: 5px 5px 35px black;
    background-color: rgb(208, 206, 206);
    
}

.cabecalho-formulario{
    display: flex;
    height: 80px;
}

.titulo-formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    padding-left:6.235px;
    font-weight: bold;
    .subtitulo-nome{
        color:grey;
        font-size: 14px;
        margin-bottom:10px;
    }
    .titulo-nome{
        font-size: 25px;
        background: var(--gradient);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}



.container-botao-fechar-dialog{
    font-size: 20px
}

.input-cnpj{
    width: 100%;
    border-radius: 25px;
    height: 40px;
}

.container-data-telefone{
    display: flex;
    
}

.container-data{
    display: inline;
    border-radius: 20px;
   
}

.container-telefone{
    display: inline;
    border-radius: 20px;

}

.input-endereco{
    width: 100%;
    border-radius: 18px;
}

.input-data-fundacao{
    border-radius: 25px;
    height: 40px;
    width: 155px;
}



.input-telefone{
    border-radius: 25px;
    height: 40px;
}

.input-endereco{
    height: 40px;
    border-radius: 25px;
}

.botap-fechar-pop{
    border: none;
    background: none;
    background: var(--gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
   
}

.container-conselho-fiscal-e-tipo-ong{
    display:flex;
}

.container-conselho-fiscal{
    width: 50%;
    display:flex;
    flex-direction: column;
}

.container-tipo-ong{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container-logo-ong-e-email{
    display: flex;
    flex-direction: row;
    height: 50px;
}

.container-logo-ong{
    width: 50%;
    display:flex;
    flex-direction: column;
    height: 100%;
    input[type="file"]{
        display:none;
    }
}

.label-logo-ong-input-plaeholder{
    background-color: white;
    border-radius: 15px;
    border: 1px solid black;
    width: 85%;
    height: 90%;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 0 grey;

    .material-symbols-outlined{
        color:grey;
        height: 25px;
    }
}

.container-email{
    width: 50%;
    display:flex;
    flex-direction: column;
    height: 100%;
}

.label-email{
    font-size:11px;
    color: grey;
}

.input-email{
    width: 90%;
    height: 30px;
    border-radius: 15px;
}

