.container {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    height: 100vh;
    width: 100%;
    position: relative;
}

.div_title {
    background-color: rgba(255, 0, 0, 0);
    width: 90%;
    height: 100px;
    position: relative;
}

.list_voluntarios {
    position: relative;
    width: 90%;
    height: 80vh;
    overflow-y: scroll;
}

.eye_icon_button {
    background: transparent;
    cursor: pointer;
    border: none;
}

#eye_icon {
    scale: 150%;
}

#ampulheta {
    color: orange;
}

.title {
    background: var(--gradient);
    margin-bottom: 30px;
    margin-top: 20px;
    font-weight: 907;
    font-size: 42px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    position: absolute;
}


.text {
    color: rgb(0, 0, 0);
}

@media (max-width: 768px) {
    .div_title {
        height: 130px;
        align-items: center;
        justify-content: center;
        justify-self: center;
    }
}