.section-validacao-atualizacao {
    display: flex;
    flex-wrap: wrap;
}

.modal-validacao-atualizacao {
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 0;
}

.h1-validacao-atualizacao {
    text-align: center;
    color: var(--cor-font-preto);
}

.p-validacao-atualizacao {
    color: var(--cor-roxo-escuro);
    font-size: 1.6rem;
    text-align: center;
}

.div-botao-validacao-atualizacao {
    display: flex;
    justify-content: center;
    z-index: 1;
}

.label-validacao-atualizacao {
    display: block;
    margin-bottom: 5px;
}

.input-validacao-atualizacao {
    background-color: #fff;
    width: 400px;
    padding: 10px;
    border: 1px solid var(--cor-font-branco);
    border-radius: 5px;
    font-size: 16px;
}