.section-validacao-atualizacao {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.form-validacao-atualizacao {
        display: flex;
        flex-flow: column wrap;
        gap: 20px;
        background-color: #f0f0f0;
        padding: 20px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.h1-validacao-atualizacao {
    font-weight: bold;
    text-align: center;
    background: var(--gradient) text;
    -webkit-text-fill-color: transparent;
    font-size: 1.6rem;
    padding: 1px;
}

.div-botao-validacao-atualizacao {
    display: flex;
    justify-content: space-evenly;
}

.label-validacao-atualizacao {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.input-validacao-atualizacao {
    outline-color: var(--cor-cinza-claro);
    background-color: var(--cor-font-branco);
    width: 400px;
    padding: 10px;
    border: 1px solid var(--cor-font-branco);
    border-radius: 5px;
    font-size: 16px;
}

.validacao-file {
    display: none;
}

.validacao-label {
    background-color: var(--cor-font-branco);
    height: 40px;
    cursor: pointer;
    position: relative;

    .validacao-atualizacao-file {
        position: absolute;
        color: var(--cor-cinza-escuro);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.validacao-atualizacao-icon {
    rotate: -45deg;
    padding: 5px;
    width: 30px;
}

.notification-atualizacao-validacao {
    position: relative;
    bottom: 0;
    width: 250px;
}

.dialog-obs-validacao-atualizacao {
    display: none;
    border: none;
    background-color: transparent;
}

.obs-validacao-atualizacao {
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    height: 300px;
    z-index: 10;

    .textarea-validacao-atualizacao {
        padding: 10px;
        resize: none;
        border-radius: 5px;
        border: none;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

    }
}

.fechar-validacao-atualizacao {
    position: absolute;
    top: 0;
    right: 0;
}

.div-fechar-validacao-atualizacao {
    position: relative;
}

.icon-fechar-validacao-atualizacao {
    width: 30px;
}