@import url("reset.css");

:root {
  --cor-tabela: #ca99e1;
  --cor-cabeçalho-tabela: #994dbb;
}

.titulo {
  position: fixed;
  top: 130px;
  left: 150px;
  font-size: 40px;
  font-weight: bold;
  background: linear-gradient(#6a10be, #a224e2);
  -webkit-background-clip: text;
  color: transparent;
}

.body-ver-ong {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  min-height: 100vh;
}

.tabela {
  border-collapse: collapse;
  width: 80%;
  position: fixed;
  top: 10em;
  left: 7.5em;
}

.tabela-cabecalho {
  background-color: var(--cor-cabeçalho-tabela);
}

.tabela-corpo:nth-child(even) {
  background-color: var(--cor-tabela);
}

.tabela-cabecalho,
td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

@media (max-width: 790px){
  .validarAtualizacaoOng{
    position: absolute;
  }

  .titulo {
    position: relative;
    top: 10rem;
    left: 4rem;
    font-size: 39px;
    font-weight: bold;
    background: linear-gradient(#6a10be, #a224e2);
    -webkit-background-clip: text;
    color: transparent;
  }
 
  .body-ver-ong {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    min-height: 100vh;
  }
 
  .tabela {
    border-collapse: collapse;
    width: 150%;
    position: relative;
    top: 12.5rem;
    left: 4rem;
  }
 
  .tabela-cabecalho {
    background-color: var(--cor-cabeçalho-tabela);
  }
 
  .tabela-corpo:nth-child(even) {
    background-color: var(--cor-tabela);
  }
 
  .tabela-cabecalho,
  td {
    border: 1px solid black;
    padding: 2px;
    text-align: center;
  }
}


@media (max-width: 480px){

  .validarAtualizacaoOng{
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
  }

  .titulo {
    position: relative;
    top: 9rem;
    left: 2.2rem;
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(#6a10be, #a224e2);
    -webkit-background-clip: text;
    color: transparent;
  }

  .body-ver-ong {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    min-height: 50vh;
  }
  
  .tabela {
    /* border-collapse: collapse; */
    width: 50%;
    position: relative;
    top: 11rem;
    left: 2.2rem;
    font-size: 10px;
  }
  
  .tabela-cabecalho {
    background-color: var(--cor-cabeçalho-tabela);
  }
  
  .tabela-corpo:nth-child(even) {
    background-color: var(--cor-tabela);
  }
  
  .tabela-cabecalho,
  td {
    border: 1px solid black;
    padding: 2px;
    text-align: center;
  }
}