:root {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  --cor-font-preto: #000000;
  --cor-font-branco: #ffffff;
  --gradient: linear-gradient(
    54deg,
    rgba(62, 0, 163, 1) 0%,
    rgba(218, 112, 255, 1) 100%
  );
  --cor-roxo-claro: #b56ad0d2;
  --cor-roxo-escuro: #b56ad0d2;
  --cor-vermelho: #c63637;
  --cor-verde: #118211;
  --cor-amarelo: #ffd94d;
}

.container-visualizar-voluntarios {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.validation-area-visualizar-voluntarios {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 200px;
}

.imagem-area-visualizar-voluntarios {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagem-perfil-visualizar-voluntarios {
  width: 220px;
  height: 220px;
  border: none;
  border-radius: 180px;
  box-shadow: 6px 7px 31px 0px rgba(0, 0, 0, 0.42);
}

.confirmacao-area-visualizar-voluntarios {
  height: 150px;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  border: 3.5px solid blueviolet;
  box-shadow: 6px 7px 31px 0px rgba(0, 0, 0, 0.304);
  border-radius: 20px;
  padding: 10px;
}

.button-area-visualizar-voluntarios {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.pergunta-confirmacao-visualizar-voluntarios {
  color: blueviolet;
  font-size: 20px;
  font-weight: bold;
}

.validation-button-visualizar-voluntarios {
  width: 50px;
  height: 50px;
  transition: 0.2s;
}

.validation-button-visualizar-voluntarios:hover {
  cursor: pointer;
  width: 55px;
  height: 55px;
  transition: 0.2s;
}

#check-button {
  color: var(--cor-font-branco);
  background-color: blueviolet;
  border: none;
  border-radius: 15px;
}

#recuse-button {
  color: blueviolet;
  border: solid 3px blueviolet;
  border-radius: 15px;
  background: none;
}

#check-icon {
  font-size: 30px;
}

#recuse-icon {
  font-size: 30px;
  color: blueviolet;
}

.infomation-visualizar-voluntarios {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-title-visualizar-voluntarios {
  font-size: 40px;
  font-weight: bold;
  top: 30px;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info-area-visualizar-voluntarios {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 15px;
  width: 450px;
  height: 500px;
  padding: 30px;
  border: 3.5px solid blueviolet;
  box-shadow: 6px 7px 31px 0px rgba(0, 0, 0, 0.42);
  border-radius: 30px;
  top: 200px;
}

.inputs-area-visualizar-voluntarios {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.metade-input-area-visualizar-voluntarios {
  display: flex;
  gap: 10px;
}

.label-visu-voluntarios {
  font-size: 15px;
  color: var(--cor-font-preto);
  margin: 0 0 0 5px;
}

.input-visu-voluntarios {
  height: 40px;
  border: 2px solid blueviolet;
  color: var(--cor-font-preto);
  /* border: none; */
  /* box-shadow: 6px 7px 31px 0px rgba(0,0,0,0.42); */
  border-radius: 30px;
  padding: 0 15px 0 15px;
  cursor: default;
}
