@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("/view/assests/css/reset.css");

:root {
  --cor-fundo: #ffffff;
  --cor-texto: #8b1cd3;
  --cor-fundo-card: #8b1cd3;
  --cor-roxa-degrade: linear-gradient(45deg, #3e00a3, #da70ff);
  --cor-texto-input: #b6b6b6;
  --cor-texto-padrao: #000000;
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--cor-fundo);
  color: var(--cor-texto);
  margin-left: 80px;
  margin-right: 80px;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 20px;
}

h2 {
  color: var(--cor-roxa-degrade);
  font-weight: bold;
  font-size: 45px;
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  color: var(--cor-texto-input);
  font-size: 24px;
}

.cards-lista {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  padding-top: 20px;
}
.card {
  position: relative;
  max-width: 250px;
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 20px;
  transition: transform 0.5s ease;
  display: flex;
}
.card .imagem {
  position: relative;
  width: 100%;
  height: 100%;
}

.ong {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  z-index: 2;
  transition: opacity 0.5s ease;
}

.card:hover .ong {
  opacity: 0.1;
}

.card .imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .imagem::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(163, 12, 163, 0.7), transparent);
  border-radius: 20px;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(163, 12, 163, 0.7), transparent);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  color: white;
  font-size: 1.2rem;
  border-radius: 20px;
  text-align: center;
}

.card:hover .overlay {
  opacity: 1;
}

.card .overlay .ong-overlay {
  text-align: center;
  padding: 10px;

  h3 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    /* margin: 0; */
  }
  p {
    line-height: 1.2rem;
    margin-top: 15px;
  }
}

.card .overlay .favorito {
  position: absolute;
  top: 80%;
  left: 75%;
  padding: 0px;
}

.button {
  border: none;
  background: transparent;
  color: white;
  border-radius: 0px;
  outline: none;
  font-size: 34px;
}

button:hover {
  cursor: pointer;
}

/* From Uiverse.io by Yaya12085 */
.ui-like {
  --icon-size: 30px;
  --icon-secondary-color: rgb(255, 255, 255);
  --icon-hover-color: rgb(211, 205, 205);
  --icon-primary-color: rgb(230, 26, 26);
  --icon-circle-border: 1px solid var(--icon-primary-color);
  --icon-circle-size: 35px;
  --icon-anmt-duration: 0.3s;
}

.ui-like input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
}

.ui-like .like {
  width: var(--icon-size);
  height: auto;
  fill: var(--icon-secondary-color);
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}

.like::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  -webkit-box-shadow: 0 30px 0 -4px var(--icon-primary-color),
    30px 0 0 -4px var(--icon-primary-color),
    0 -30px 0 -4px var(--icon-primary-color),
    -30px 0 0 -4px var(--icon-primary-color),
    -22px 22px 0 -4px var(--icon-primary-color),
    -22px -22px 0 -4px var(--icon-primary-color),
    22px -22px 0 -4px var(--icon-primary-color),
    22px 22px 0 -4px var(--icon-primary-color);
  box-shadow: 0 30px 0 -4px var(--icon-primary-color),
    30px 0 0 -4px var(--icon-primary-color),
    0 -30px 0 -4px var(--icon-primary-color),
    -30px 0 0 -4px var(--icon-primary-color),
    -22px 22px 0 -4px var(--icon-primary-color),
    -22px -22px 0 -4px var(--icon-primary-color),
    22px -22px 0 -4px var(--icon-primary-color),
    22px 22px 0 -4px var(--icon-primary-color);
  border-radius: 50%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.like::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: var(--icon-circle-border);
  opacity: 0;
}

/* actions */

.ui-like:hover .like {
  fill: var(--icon-hover-color);
}

.ui-like input:checked + .like::after {
  -webkit-animation: circles var(--icon-anmt-duration)
    cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation: circles var(--icon-anmt-duration)
    cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  -webkit-animation-delay: var(--icon-anmt-duration);
  animation-delay: var(--icon-anmt-duration);
}

.ui-like input:checked + .like {
  fill: var(--icon-primary-color);
  -webkit-animation: like var(--icon-anmt-duration) forwards;
  animation: like var(--icon-anmt-duration) forwards;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.ui-like input:checked + .like::before {
  -webkit-animation: circle var(--icon-anmt-duration)
    cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation: circle var(--icon-anmt-duration)
    cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  -webkit-animation-delay: var(--icon-anmt-duration);
  animation-delay: var(--icon-anmt-duration);
}

@-webkit-keyframes like {
  50% {
    -webkit-transform: scaleY(0.6);
    transform: scaleY(0.6);
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes like {
  50% {
    -webkit-transform: scaleY(0.6);
    transform: scaleY(0.6);
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@-webkit-keyframes circle {
  from {
    width: 0;
    height: 0;
    opacity: 0;
  }

  90% {
    width: var(--icon-circle-size);
    height: var(--icon-circle-size);
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes circle {
  from {
    width: 0;
    height: 0;
    opacity: 0;
  }

  90% {
    width: var(--icon-circle-size);
    height: var(--icon-circle-size);
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes circles {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    opacity: 1;
  }

  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
}

@keyframes circles {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    opacity: 1;
  }

  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {

  body{
    margin: 10px;
  }

  form {
    display: flex;
  }

  h2,
  a {
    font-size: 25px;
    
  }

  h3,
  p {
    font-size: 15px;
  }
  .card {
    flex: 1 1 100%;
    margin: 5px;
  }

  .cards-lista {
   margin: 10px;
   padding: 10px;;
    width: 50%;
    height: 50%;
  }
  .card,
  .overlay {
    width: 100%;
    height: auto;
  }

  .card .overlay .ong-overlay, h3{
  font-size: 1,5rem;
}
.card .overlay .ong-overlay, p{
  font-size: 1rem;
}

@media (max-width: 480px) {

  .cards-lista {
    margin: 10px;
    padding: 10px;;
    width: 75%;
    height: 75%;
  }
  .card {
    flex: 1 1 100%;
    margin: 5px;
  }


  .card,
  .overlay {
    width: 75%;
    height: auto;
  }

  .card .overlay .ong-overlay, h3 {
    font-size: 1.2rem;
  }

  .card .overlay .ong-overlay, p {
    font-size: 0.9rem;
  }
}
}