<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADM - Painel de Controle</title>

    <link rel="stylesheet" href="style.css">

</head>
<body>
    <header>
        <nav class="navbar">
            
        </nav>
    </header>
    <div class="container">
        <div class="container-box">
            <div class="content">
                <div class="content-inside">
                    <img class="icone" src="assets/icone-atualizacoes-cadastrais.svg" alt="atualizacoes cadastrais SVG">
                    <h2 class="titulo"><b>Atualizações Cadastrais</b></h2>
                    <span class="desc">Valide as atualizações cadastrais das ONGs que enviaram uma solicitação.</span>

                </div>
                <div class="content-inside">
                    <img class="icone" src="assets/icone-validar-ongs.svg" alt="validar ongs SVG">
                    <h2 class="titulo"><b>Validar ONGs</b></h2>
                    <span class="desc">Valide por aqui as ONGs que enviaram uma solicitação .</span>

                </div>
                <div class="content-inside">
                    <img class="icone" src="assets/icone-ongs-usuarios-cadastrados.svg" alt="ongs usuarios cadastrados SVG">
                    <h2 class="titulo"><b>ONGs / Usuários Cadastatrados</b></h2>
                    <span class="desc">Veja por aqui as ONGs e Usuários que estão permitidas pelo sistema .</span>

                </div>

                <div class="content-inside">
                    <img class="icone" src="assets/icone-editar.svg" alt="editar SVg">
                    <h2 class="titulo"><b>Editar</b></h2>
                    <span class="desc">Edite as Tags do botão de filtrar</span>

                </div>
                <div  class="content-inside">
                    <a href="../adm-gestao-de-patrocinadores/index.html"><img class="icone" class="img-patrocinadores" src="assets/patrocinadores.png" alt="patrocinadores PNG">
                    </a>
                    <h2 class="titulo"><b>Patrocinadores</b></h2>
                    <span class="desc">Gerencie os Patrocinadores</span>
                </div>        
            </div>
    </div>
</body>
</html>